@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');

body{
    font-family: 'Crimson Text', serif;    
    min-height: 60rem;
    padding-top: 3.5rem;    
}
img{
    width: 100%;
}
.navbar-default  {
	height:auto!important;
}
header{
    background: url('../images/bgSmall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeStamp{
    background: #aa9ba79c;
    margin: auto;
    width: 60%;
    box-shadow: 2px 2px 4px 5px #849fb4;
    /* border: 2px red solid; */
    text-align: center;
    display: flex;
    flex-direction: column;

}
.timeStamp .date{
    /* border: 3px black solid; */
    color: #630606;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.timeStamp .time{
    /* border: 2px orange solid; */
    color: #630606;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}
/* event.html file*/
#container-fluid{
    background-image: url('../images/event2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}
h2,h1,strong {
    color: aqua;
}
textarea{
    color: aquamarine;
}


a .event{
    padding: 20px 18px;
    margin-left: 4%;
    font-size: 20px;
    font-family: 'Lakki Reddy', cursive;
    border-radius: 12%;
    background-color: aquamarine;
}

.col-md-7, .col-md-5 {
    float: left;
    padding: 5%;
}
header h2 {
    text-transform: uppercase;
    color: brown;
    text-align: center;
    padding-top: 10%;
}
#form1, #form2 {
    display: none;
}

